<div class="row" ng-model="quizFilterObj">
    <div class="col-md-3"><input type="search" class="form-control" placeholder="Question filter" ng-model="filters.questionFilter"></div>
    <div class="col-md-4"><input type="search" class="form-control" placeholder="Answer filter" ng-model="filters.answerFilter"></div>
    <div class="col-md-4"><input type="search" class="form-control" placeholder="Category filter" ng-model="filters.categoryFilter"></div>
    <div class="col-md-1"><button type="button" class="btn btn-default pull-right" ng-click="clearFilters()">clear</button></div>
</div>