<div ng-controller="quizController">

    <!-- Column filters -->
    <quiz-filters questions="allQuestions" filtered-questions="filteredQuestions" filters="quizFilterObj"></quiz-filters>

    <hr/>

    <!-- Questions main container -->

    <div class="container-fluid" style="overflow-x: visible">

        <!-- Infinite scroll list of questions -->

        <div infinite-scroll="moreQuestions(filteredQuestions)" infinite-scroll-disabled="isLoading" class="container-fluid infiniteScroll" >

            <div ng-repeat='question in questions' class="container-fluid row" ng-class="question.updated" style="overflow-x: visible">

                <div class="col-xs-3">
                    <item-input item="question.question" question-Id="{{question._id}}" on-update="updateQuestion(question)"></item-input>
                </div>
                <div class="col-xs-4">
                    <item-list items="question.answer" question-Id="{{question._id}}" on-update="updateQuestion(question)"></item-list>
                </div>
                <div class="col-xs-4">
                    <item-list items="question.categories" question-Id="{{question._id}}" on-update="updateQuestion(question)"></item-list>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-warning btn-sm pull-right" ng-click="deleteQuestion(question._id)">delete</button>
                </div>
            </div>

        </div>

        <hr/>

        <!-- Shows number of un-rendered questions remaining in list -->

        <p class="text-center">Scroll to see {{filteredQuestions.length - questions.length}} more</p>
        <hr/>

        <!-- Add new question form -->

        <div class="row container-fluid">
            <div class="col-xs-3">
                <input type="text" placeholder="New Question" class="form-control input-sm text-center" ng-model="formData.question"/>
            </div>
            <div class="col-xs-4">
                <input type="text" placeholder="New Answer" class="form-control input-sm text-center" ng-model="formData.answer"/>
            </div>
            <div class="col-xs-4">
                <item-list question-Id="question._id" items="formData.categories"></item-list>
            </div>
            <div class="col-xs-1">
                <button class="btn-sm btn-primary pull-right" ng-click="createQuestion()">add</button>
            </div>
        </div>
    </div>
</div>