html 					{ overflow-y:scroll; }
body 					{ padding-top:50px; }
.stripes:nth-child(2n+1) {
  background: #FAFAFA;
}
.row {
  padding-bottom: 5px;
  padding-top: 5px;
  overflow-x: visible;
}

.red {
  color:#FF0000;
}

.pull-right {
  float: right !important;
}

.infiniteScroll {
  height:200px;
  max-height: 200px;
}