<form ng-submit="onSubmit()" ng-mouseleave="onMouseLeave()" >
    <div>
        <button ng-repeat="item in items" type="button" ng-click="removeItem(item)" class="btn btn-default btn-sm" ng-hide="adding">{{item}}  <span style="color:red;">&minus;</span></button>
        <button
                type="button" ng-click="addItem(item)"
                class="btn btn-primary btn-sm pull-right" ng-hide="adding">+</button>

        <input type="text" class="text-center form-control input-sm pull-left" placeholder="add" ng-model="newItem" ng-show="adding" ng-animate="show">
    </div>
</form>